In [2]:
import numpy as np
import os
import pandas as pd
import arcpy
import pyxlsb

# Import the required ArcGIS API for Python modules
import arcgis
from arcgis.gis import GIS
gis = arcgis.GIS()
from arcgis.geoanalytics import manage_data

from IPython.display import display, Markdown

In [5]:
dirWork         = os.getcwd()
dirInput        = os.path.join(dirWork, r'input'               )
dirIntermediate = os.path.join(dirWork, r'intermediate'        )
dirResults      = os.path.join(dirWork, r'results'             )
dirHHSurvey     = os.path.join(dirWork, r'0 - HH Travel Survey')

In [14]:
#globals
filename_HHSurvey            = os.path.join(dirHHSurvey, r'2012_HHSurvey - USTMv2.1a - 2021-07-13 - Master.xlsb')
filename_ExternalLookupTable = os.path.join(dirWork, r'2_skim_through_externals\ExternalLookup.csv')
filename_TAZ                 = os.path.join(dirWork, r'0 - HH Travel Survey\TAZ\USTM TAZ - v21a\TAZ_v21a_wNatCoGrps_NAD83_v2.shp')

sheetname_TripData = 'TripData_2021-07-06'

In [23]:
#import excel spreadsheet
dfTripData = pd.read_excel(filename_HHSurvey, sheet_name=sheetname_TripData, engine='pyxlsb')

In [24]:
#help
#?pd.read_excel

In [25]:
display(dfTripData.columns.tolist())

['record_id',
 'hptripid',
 'tripID',
 'hhmemberid',
 'password',
 'weight',
 'hlat',
 'hlon',
 'olat',
 'olon',
 'dlat',
 'dlon',
 'oAddress',
 'dAddress',
 'recl_hbw',
 'resptype',
 'diarytype',
 'PURP_PER',
 'PURP7',
 'PURP7_t',
 'trip_pur_t',
 'HBSch_lev',
 'o_purpose3',
 'o_purpose',
 'o_purp_t',
 'd_purpose3',
 'd_purpose',
 'd_purp_t',
 'oLoc',
 'dloc',
 'depart_per',
 'depart_hr',
 'depart_hhm',
 'depart_mam',
 'arrive_hr',
 'arrive_hhm',
 'arrive_mam',
 'trip_dist',
 'INT_Dist',
 'trip_dur',
 'INT_dur',
 'activ_dur',
 'main_mode',
 'mode_t',
 'mode_auto',
 'mode_autot',
 'veh_used',
 'driver',
 'pers_toll',
 'pers_park',
 'sidewalk',
 'trav_hh',
 'trav_nonhh',
 'trav_tot',
 'tot_trv_wt',
 'hhsize',
 'hhsize_cat',
 'hh_adults',
 'hh_childrn',
 'life_cycle',
 'workers',
 'workers4',
 'hh_income',
 'hh_inc_cat',
 'num_veh',
 'numveh_cat',
 'age',
 'age3',
 'gender',
 'relation',
 'employment',
 'emp_text',
 'adultJobs',
 'childJobs',
 'education',
 'licensed',
 'limitmobil',
 'made_trips',
 'typ_travel',
 'Telecommuted',
 'Telecom_Offered',
 'trip_count',
 'TourID',
 'TourStops',
 'TourStID',
 'TourEndID',
 'TourType',
 'PA_AP',
 'o_MissLoc',
 'd_MissLoc',
 'Use_for_TG',
 'Use_for_Dist',
 'h_CO_TAZID',
 'h_UrbVal_2015',
 'h_ATYPE_2015',
 'h_ATName_2015',
 'h_UrbVal_2019',
 'h_ATYPE_2019',
 'h_ATName_2019',
 'h_SUBAREA',
 'h_CO_FIPS',
 'h_CO_NAME',
 'h_DISTSUP',
 'h_DSUP_NAME',
 'h_DISTLRG',
 'h_DLRG_NAME',
 'h_DISTMED',
 'h_DMED_NAME',
 'o_CO_TAZID',
 'o_SUBAREA',
 'o_CO_FIPS',
 'o_CO_NAME',
 'o_DISTSUP',
 'o_DSUP_NAME',
 'o_DISTLRG',
 'o_DLRG_NAME',
 'o_DISTMED',
 'o_DMED_NAME',
 'd_CO_TAZID',
 'd_SUBAREA',
 'd_CO_FIPS',
 'd_CO_NAME',
 'd_DISTSUP',
 'd_DSUP_NAME',
 'd_DISTLRG',
 'd_DLRG_NAME',
 'd_DISTMED',
 'd_DMED_NAME',
 'p_CO_TAZID',
 'p_SUBAREA',
 'p_CO_FIPS',
 'p_CO_NAME',
 'p_DISTSUP',
 'p_DSUP_NAME',
 'p_DISTLRG',
 'p_DLRG_NAME',
 'p_DISTMED',
 'p_DMED_NAME',
 'a_CO_TAZID',
 'a_SUBAREA',
 'a_CO_FIPS',
 'a_CO_NAME',
 'a_DISTSUP',
 'a_DSUP_NAME',
 'a_DISTLRG',
 'a_DLRG_NAME',
 'a_DISTMED',
 'a_DMED_NAME']

In [30]:
dfTripData_filtered = dfTripData[['record_id','PURP7_t','p_CO_TAZID','a_CO_TAZID']]
dfTripData_filtered = dfTripData_filtered.loc[(dfTripData_filtered['p_CO_TAZID']<0) | (dfTripData_filtered['a_CO_TAZID']<0)]
dfTripData_filtered

       record_id PURP7_t  p_CO_TAZID  a_CO_TAZID
1282        1311     HBW       50155     -808956
1283        1312     HBW       50155     -808956
1289        1318   NHBNW     -808923     -808923
1290        1319   NHBNW     -808923     -808923
1291        1320   NHBNW     -808923     -808923
...          ...     ...         ...         ...
99197     103039     HBW      530285     -808927
99210     103052     HBW      530105     -808927
99253     103095     HBW      530153     -808927
99302     103144     HBW      530296     -808927
99303     103145     HBW      530296     -808927

[883 rows x 4 columns]

In [9]:
#read in lookup table
df_luExternals = pd.read_csv(filename_ExternalLookupTable)

In [12]:
df_luExternals

            ODPair       I       J  External     Time  Distance
0          31_8776    31.0  8776.0      12.0  2869.37   3027.30
1          31_8777    31.0  8777.0      12.0  2712.40   2846.01
2          31_8778    31.0  8778.0      12.0  2509.57   2625.02
3          31_8779    31.0  8779.0      12.0  2439.52   2583.07
4          31_8780    31.0  8780.0      12.0  2267.28   2447.13
...            ...     ...     ...       ...      ...       ...
3407818  8976_8771  8976.0  8771.0      23.0   520.47    493.43
3407819  8976_8772  8976.0  8772.0      23.0   523.07    495.76
3407820  8976_8773  8976.0  8773.0      23.0   532.31    489.34
3407821  8976_8774  8976.0  8774.0      23.0   559.14    498.78
3407822  8976_8775  8976.0  8775.0      23.0   549.14    508.79

[3407823 rows x 6 columns]

In [17]:
sdf_TAZ = pd.DataFrame.spatial.from_featureclass(filename_TAZ)

In [21]:
df_luTAZ = sdf_TAZ[['TAZID','CO_TAZID']]
df_luTAZ

      TAZID  CO_TAZID
0      7067     50639
1      7069     50641
2      6478     50050
3      7091     50663
4      7087     50659
...     ...       ...
8939   8972   -808972
8940   8973   -808973
8941   8974   -808974
8942   8975   -808975
8943   8976   -808976

[8944 rows x 2 columns]